<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Live Server</title>


    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" />


    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <link rel="stylesheet" href="style.css">

    <!-- Load polyfills to support older browsers -->
    <script src="http://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous">
    </script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>

    <link rel="stylesheet" href="//unpkg.com/leaflet/dist/leaflet.css" />
    <script src="//unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="//unpkg.com/vue2-leaflet"></script>

    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>

    <style>
        .modal-header-custom {
            border-bottom: 0px solid #dee2e6;
        }

        .number-icon {
            background-image: url("marker-icon.png");
            text-align: center;
            color: #0cfd1f;
            font-size: 2em;
            font-weight: 700;
        }
    </style>

</head>

<body>
    <header class="header">
        <div class="headerbar">
            <div class="logo">
                <div class="nav-link--home">
                    <img class="logo-image" src="/media/1062/logogc.png" alt="Guatemalan Coffees">
                </div>
            </div>


            <!-- uncomment this line if you don't want it to appear in the top navigation -->
            <!--<a class="nav-link " href="/main/">Main</a>-->

            <div class="hello">
                <div class="btn lnk_m" lnk_m="/contact/">Say hello!</div>
                <!--link modal-->
                <div class="redes">
                    <div class="fb lnk_e" lnk_e="https://www.facebook.com/GuatemalanCoffeesAnacafe/" tar="new"></div>
                    <!--link externo target new-->
                    <div class="tw lnk_e" lnk_e="https://twitter.com/guatemalacoffee/" tar="new"></div>
                    <div class="ig lnk_e" lnk_e="https://www.instagram.com/guatemalancoffees/" tar="new"></div>
                </div>
            </div>
            <button class="navbar-toggler navbar-dark navbar-toggler-right menu_icon" type="button"
                data-toggle="collapse" data-target="#mainMenuOptions" aria-controls="mainMenuOptions"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="navbar navbar-expand-lg top-nav mainmenu">
                <div class="collapse navbar-collapse" id="mainMenuOptions">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/main/history/">History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/main/coffee-types/">Coffee Types</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/main/regions-and-profiles/">Regions and profiles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/main/impact/">Impact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <!-- *** INICIA BLOQUE DE MODAL DE BÚSQUEDA (modal_search_gral) *** -->
        <div id="vapp" :class="main_class" class="container-fluid">
            <div class="m-4">

                <!-- btn_explore.htm -->
                <!-- <div class="search_modal modalw"></div> -->
                <div>
                    <a class="btn btn_float nav-link call_search_up"
                        v-on:click.prevent="showFilterModal"><span>Explore</span><i class="fas fa-search"></i></a>
                </div>

                <!-- BLOQUE DE GRID DE RESULTADOS DE BÚSQUEDA -->
                <div class="results_block">
                    <div class="row results_header">
                        <div class="col-12 col-md-10 col-lg-9 summary_results">
                            <div>
                                <div class="num_results">{{total}}</div>
                            </div>
                            <div>
                                <div class="title_results">Results for
                                    <span v-for="key in Object.keys(filterOptions)" :key="key"
                                        v-if="filterOptions[key].length>0">

                                        {{key}} : {{ filterOptions[key]}} +
                                    </span></div>
                                <small class="form-text text-primary"><a href="#" class="collapse_filters">Narrow
                                        results</a></small>
                            </div>

                        </div>
                        <div class="col-12 col-md-2 col-lg-3 text-right view_modes">
                            <a v-on:click.prevent="setView('list')" v-if="this.viewMode != 'list'"><span>list</span><i
                                    class="fas fa-list-alt"></i></a>
                            <!-- se oculta al mostrar listado -->
                            <a v-on:click.prevent="setView('grid')" v-if="this.viewMode != 'grid'"><span>grid</span><i
                                    class=" fas fa-th"></i></a>
                            <!-- se oculta al mostrar grid -->
                            <a v-on:click.prevent="setView('map')" v-if="this.viewMode != 'map'"><span>map</span><i
                                    class=" fas
                                fa-map-marked-alt"></i></a>
                            <!-- se oculta al mostrar mapa -->
                        </div>

                    </div>

                    <div class="results">
                        <div :class="currentViewModeClass" v-if="dataList && dataList.length>0">
                            <!-- results_list / results_grid / results_map - class cambia de acuerdo a view mode-->
                            <div class="entry" v-for="(item, index) in dataList" :key="item.id" :data-id="item.id">
                                <!-- este es el bloque de cada UP en la lista -->
                                <div class="img"><img :src="item.coverPhoto | defaultCover"
                                        style="width: 85px; height: 85px;" /></div>
                                <!-- foto de la finca -->
                                <div class="nom">
                                    <ul>
                                        <li>
                                            <h5>{{index+1}}-{{ item.name }}</h5>
                                        </li>
                                        <li>{{ item.town}}, {{ item.city}}</li>
                                        <li>varieties: Pacamara, caturra</li>
                                    </ul>
                                </div>
                                <div class="actions">
                                    <ul>
                                        <li><i class="fas fa-mountain"></i>{{item.maxAltitude | number}} ft</li>
                                        <li><i class="fas fa-draw-polygon"></i>{{item.totalArea | number}} Ha</li>
                                        <li><i class="fas fa-seedling"></i>{{item.goldProductionQq | number}} lb</li>
                                    </ul>
                                    <div class="go"><i class="fas fa-chevron-circle-right"
                                            v-on:click="showDetails(item)"></i></div>
                                </div>
                            </div>

                        </div>

                        <!-- <div v-if="dataList && dataList.length==0">
                            No existen unidades productivas para este criterio
                        </div> -->


                        <div class="map_results" v-if="viewMode == 'map'">
                            <div style="height: 100%; width: 100%">
                                <div class="text-center small mt-3">
                                    <p>Center is at {{ currentCenter }} and the zoom is: {{ currentZoom }}</p>
                                </div>

                                <l-map ref="myMap" :zoom="zoom" :center="center" :options="mapOptions"
                                    v-on:update:center="centerUpdate" v-on:update:zoom="zoomUpdate">


                                    <l-marker v-for="(marker, index)  in dataList" :key="marker.id" :visible="true"
                                        :lat-lng="{lat:marker.latitude, lon:marker.longitude}"
                                        v-on:click="showDetails(marker)">

                                        <l-icon iconSize="[25, 41]" iconAnchor="[10, 44]" popupAnchor="[3, -40]"
                                            icon-url="marker-icon.png" className="number-icon"
                                            :options="{ html: `<span> ${index+1} </span>`, className: 'number-icon', iconSize: [25, 41], iconAnchor: [10, 44], popupAnchor: [3, -40]}">
                                        </l-icon>

                                        <!-- <l-popup
                                            :content=" `<span class='text-primary'>${marker.name}</span> <br/> (${marker.latitude} ${marker.longitude}) <br/> ${marker.town} - ${marker.city} ` "
                                            v-on:click="showDetails(marker)" /> -->

                                        <l-tooltip :options="{ permanent: true, interactive: true }"
                                            :content=" `<span class='text-primary'>${marker.name}</span> <br/> (${marker.latitude} ${marker.longitude}) <br/> ${marker.town} - ${marker.city} ` " />
                                    </l-marker>

                                    <l-tile-layer :url="url" :attribution="attribution" />

                                </l-map>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Filtros -->
                <b-modal id="productiveUnitFilter" ref="productiveUnitFilter" size="lg" hide-footer no-close-on-backdrop
                    header-class="modal-header-custom">

                    <div class="container-fluid px-4 pb-3 px-sm-5 pb-sm-5 ">
                        <div class="row">
                            <div class="col-md-12 ">
                                <h5>What are you looking for?</h5>
                            </div>
                        </div>
                        <div class="row">

                            <!-- Grupo de búsqueda básico -->
                            <div class="col-md-12 pt-3" v-if="searchExtended==false">
                                <form>
                                    <div class="form-group">
                                        <input type="text" id="name" name="name" class="form-control"
                                            placeholder="Search for name, location or description." autocomplete="on"
                                            v-model="filterOptions.name" />
                                        <!-- Muestra search_extended y oculta search_basic -->
                                        <small class="form-text text-primary mx-2"><a href="#" class="expand_filters"
                                                v-on:click.prevent="showSearchExtended">Or be
                                                more specific.</a></small>
                                    </div>
                                    <button type="button" class="btn btn-primary"
                                        v-on:click.prevent="getFilteredProductiveUnits">Lets go!</button>
                                </form>
                            </div>

                            <div class="col-md-12 pt-3" v-if="searchExtended==true">
                                <form>
                                    <div class="form-group row">
                                        <label for="farmName" class="col-md-2 col-lg-3 text-md-right">Farm name</label>
                                        <input type="text" class="form-control col-md-10 col-lg-9" id="farmName">
                                    </div>
                                    <div class="form-group row">
                                        <label for="altitude" class="col-sm-2 col-lg-3 text-md-right">Altitude</label>
                                        <input name="altitude" v-model="filterOptions.altitude" oninput="alt_tag.value=parseInt(this.value)"
                                            class="col-9 col-sm-8 col-lg-7 range-slider__range " type="range"
                                            value="2500" min="2500" max="5800">
                                        <output id="alt_tag" name="alt_tag" for="altitude" unit="ft"
                                            class="col-3 col-sm-1 col-lg-2 range-slider__value">2500</output>
                                    </div>
                                    <div class="form-group row">
                                        <label for="varieties" class="col-md-2 text-md-right">Varieties</label>
                                        <vue-multiselect id="varieties" class="col-md-4"
                                            v-model="filterOptions.varieties" placeholder="Search" label="name"
                                            track-by="id" :options="options['varieties']" :multiple="true">
                                        </vue-multiselect>
                                        <label for="processes" class="col-md-2 text-md-right">Processes</label>
                                        <vue-multiselect id="processes" class="col-md-4"
                                            v-model="filterOptions.processes" placeholder="Search" label="name"
                                            track-by="id" :options="options['processes']" :multiple="true">
                                        </vue-multiselect>
                                    </div>

                                    <div class="form-group row">
                                        <label for="regions" class="col-md-2 text-md-right">Regions</label>
                                        <vue-multiselect id="regions" class="col-md-4" v-model="filterOptions.regions"
                                            placeholder="Search" :options="options['regions']" :multiple="true">
                                        </vue-multiselect>

                                        <label for="certifications"
                                            class="col-md-2 text-md-right">Certifications</label>

                                        <vue-multiselect id="certifications" class="col-md-4"
                                            v-model="filterOptions.certifications" placeholder="Search" label="name"
                                            track-by="id" :options="options['certifications']" :multiple="true">
                                        </vue-multiselect>

                                    </div>
                                    <div class="form-group row">
                                        <!-- Oculta search_extended y muestra search_basic -->
                                        <div class="col">
                                            <small class="form-text text-primary mx-2">
                                                <a href="#" v-on:click.prevent="clearSearchExtended"
                                                    class="collapse_filters">Clear filters</a>
                                            </small>
                                        </div>
                                        <div class="col text-center">
                                            <button type="button" class="btn btn-primary"
                                                v-on:click.prevent="getFilteredProductiveUnits">Lets go!</button>
                                        </div>
                                    </div>
                                </form>
                            </div>


                        </div>
                    </div>
                </b-modal>

                <!-- Detalles -->
                <b-modal id="productiveUnitDetails" ref="productiveUnitDetails" size="lg"
                    title="Detalle Unidad Productiva">

                    <div class="media mb-5 p-2">
                        <img width="64" height="64" :src="item.coverPhoto | defaultCover" class="mr-3 img-img-thumbnail"
                            alt="..." />
                        <div class="media-body">
                            <span class="float-right text-black-50">
                                {{
                            item.publicationDate 
                            }}
                            </span>
                            <h5 class="mt-0">{{ item.name }}</h5>

                            <div>
                                <span class="text-secondary"> {{ item.town}} - {{ item.city}}</span>
                            </div>
                            <div class="mb-2">
                                <span v-for="att in item.tags" :key="att" class="badge badge-secondary mr-2"
                                    :title="att">{{ att }}</span>
                            </div>

                            <div class="text-muted mb-3">{{ item.description }}</div>

                            <div class="mb-3">



                                <div>
                                    <span class="text-secondary">Location .</span>
                                    {{ item.latitude }} , {{ item.longitude}}
                                </div>
                                <div>
                                    <span class="text-secondary">Altitude .</span>
                                    {{ item.minAltitudeSource  | number}} - {{ item.maxAltitudeSource  | number}} pies
                                    s.n.m
                                </div>
                                <div>
                                    <span class="text-secondary">Area .</span>
                                    {{item.cultivatedAreaSource  | number}}/{{item.totalAreaSource  | number}} manzanas
                                </div>
                                <div>
                                    <span class="text-secondary">AnualProduction .</span>
                                    {{item.matureProduction  | number}} maduro / {{item.pergaminoProduction  | number}}
                                    pergamino /
                                    {{item.goldProduction  | number}} oro quintales anuales
                                </div>
                                <hr />
                                <div>
                                    <span class="text-secondary">Afiliate .</span>
                                    {{ item.ownerName }}
                                </div>
                                <div>
                                    <span class="text-secondary">Type of Productive Unit .</span>
                                    {{ item.productiveUnitType}}
                                </div>

                                <div>
                                    <span class="text-secondary">Contact .</span>
                                    {{ item.website}}
                                    <br /> phones.
                                    <span v-for="it in item.phones" :key="it">{{ it}}</span>
                                    <br /> emails.
                                    <span v-for="it in item.email" :key="it">{{ it}}</span>
                                </div>

                                <div>
                                    <span class="text-secondary">Soil Types .</span>
                                    <span class="badge" v-for="it in item.soilTypes" :key="it.id">{{ it.name }}</span>
                                </div>

                                <div>
                                    <span class="text-secondary">Varieties .</span>
                                    <span class="badge " v-for="it in item.varieties" :key="it.id">{{ it.name }}</span>
                                </div>

                                <div>
                                    <span class="text-secondary">Processes .</span>
                                    <span class="badge " v-for="it in item.processes" :key="it.id">{{ it.name }}</span>
                                </div>


                                <div>
                                    <span class="text-secondary">Shadow Types .</span>
                                    <span class="badge " v-for="it in item.shadowTypes"
                                        :key="it.id">{{ it.name }}</span>
                                </div>

                                <div>
                                    <span class="text-secondary">Drying Types .</span>
                                    <span class="badge " v-for="it in item.dryingTypes"
                                        :key="it.id">{{ it.name }}</span>
                                </div>

                                <div>
                                    <span class="text-secondary">Certifications .</span>
                                    <span class="badge " v-for="it in item.certifications"
                                        :key="it.id">{{ it.name }}</span>
                                </div>

                                <div>
                                    <span class="text-secondary">Awards .</span>
                                    <span class="badge" v-for="it in item.awards" :key="it.id">{{ it.name }}</span>
                                </div>

                                <div>
                                    <span class="text-secondary">Amenities .</span>
                                    <span class="badge" v-for="it in item.amenities" :key="it">{{ it }}</span>
                                </div>

                                <div>
                                    <span class="text-secondary">Services .</span>
                                    <span class="badge" v-for="it in item.services" :key="it">{{ it }}</span>
                                </div>

                                <div>
                                    <span class="text-secondary">Gallery .</span>
                                    <b-container fluid class="p-4">
                                        <b-row>
                                            <b-col v-for="it in item.gallery" :key="it">
                                                <b-img thumbnail fluid :src="it" :alt="it" width="125" height="125">
                                                </b-img>
                                            </b-col>
                                        </b-row>
                                    </b-container>
                                </div>

                            </div>
                        </div>
                    </div>


                </b-modal>

            </div>
        </div>
        <!-- *** FINALIZA BLOQUE DE MODAL DE BÚSQUEDA *** -->

        <div class="container-fluid content_block">
            <!-- CONTENIDO DE WP -->
        </div>

    </main>
    <div class="bottom">
        <div class="bottombar">
            <div class="c3">
                <div class="menu">
                    <ul>
                        <li class="lnk_m" lnk_m="/about/anacafe/">About Anacafé</li>
                        <li>Market information</li>
                        <li>Press and media</li>
                        <li>Upcoming events</li>
                    </ul>
                </div>
                <div class="bid_logos lnk_m" lnk_m="/about/idb/"><img src="/media/1097/idblab_0.png"></div>
            </div>
            <div class="c3"></div>
            <div class="c3">
                <div class="contact_info">
                    <h3>Contact information</h3>
                    <p>Guatemalan National Coffee Association</p>
                    <p>Calle del Café, 0-50 zona 14</p>
                    <p>Guatemala, Guatemala, 01014</p>
                    <p>&nbsp;</p>
                    <p>PBX: <strong><a href="tel:+50224213700">+502 2421-3700</a></strong></p>
                    <p>&nbsp;</p>
                    <div class="redes">
                        <div class="follow_us">Follow us</div>
                        <div class="fb lnk_e" lnk_e="https://www.facebook.com/GuatemalanCoffeesAnacafe/" tar="new">
                        </div>
                        <!--link externo target new-->
                        <div class="tw lnk_e" lnk_e="https://twitter.com/guatemalacoffee/" tar="new"></div>
                        <div class="ig lnk_e" lnk_e="https://www.instagram.com/guatemalancoffees/" tar="new"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="menu">
            <ul>
                <li>Privacy policy</li>
                <li>Terms of use</li>
                <li>Disclosure</li>
            </ul>
        </div>
        <div class="copy">©2019 Guatemalan National Coffee Association</div>
    </div>
    <script type="text/javascript">
        // var endPoint = 'https://coffeesearch.azurewebsites.net';
        var endPoint = 'https://localhost:5001';
        // var endPoint = 'http://localhost:55706/umbraco';

        var imagesEndPoint = 'https://coffeesearch.azurewebsites.net';

        // Vue.use(require('vue-moment'));


        numeral.register("locale", "gt", {
            delimiters: {
                thousands: ",",
                decimal: "."
            },
            abbreviations: {
                thousand: "k",
                million: "m",
                billion: "b",
                trillion: "t"
            },
            ordinal: function (number) {
                return number === 1 ? "er" : "ero";
            },
            currency: {
                symbol: "Q"
            }
        });

        numeral.locale("gt");

        Vue.filter("number", function (value) {
            return numeral(value).format("0,0.00");
        });


        // register globally
        Vue.component('vue-multiselect', window.VueMultiselect.default)

        const markerOptions = {
            html: `<span class=\'fa-layers fa-fw\'><i class=\'fas fa-lg fa-map-marker text-primary\'></i><span class=\'fa-layers-text\'' style=\'font-weight:900\' class=\'text-secondary\'>{{marker.id}}</span></span>`
        };

        const vueApp = new Vue({
            el: '#vapp',
            components: {
                LMap: window.Vue2Leaflet.LMap,
                LTileLayer: window.Vue2Leaflet.LTileLayer,
                LMarker: window.Vue2Leaflet.LMarker,
                LPopup: window.Vue2Leaflet.LPopup,
                LTooltip: window.Vue2Leaflet.LTooltip,
                LIcon: window.Vue2Leaflet.LIcon,
            },
            data() {
                return {
                    currentPage: 1,
                    numberOfPages: 1,
                    total: 0,
                    loading: false,
                    display: 'redbox',
                    showFiltersFlag: false,
                    serverRoot: endPoint,
                    item: {},
                    dataList: null,
                    optionsSelected: {
                        "awards": [],
                        "certifications": [],
                        "cities": [],
                        "processes": [],
                        "regions": [],
                        "shades": [],
                        "varieties": [],
                        "soils": [],
                        "dryings": []
                    },

                    filterOptions: {
                        "name": "",
                        "altitude": 0,
                        "city": 0,
                        "town": 0,
                        "processes": [],
                        "minAltitude": 0,
                        "maxAltitude": 0,
                        "certifications": [],
                        "regions": [],
                        "awards": [],
                        "varieties": [],
                        "pageSize": 10,
                        "sort": "n|asc",
                        "page": 1,
                        "approved": true
                    },

                    options: {
                        "awards": [],
                        "certifications": [],
                        "cities": [],
                        "processes": [],
                        "regions": [],
                        "shades": [],
                        "varieties": [],
                        "soils": [],
                        "dryings": []
                    },
                    zoom: 8,
                    center: L.latLng(15.850404, -90.362389),
                    url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                    withPopup: L.latLng(15.866242, -90.203247),
                    withTooltip: L.latLng(15.866242, -90.203247),
                    currentZoom: 8,
                    currentCenter: L.latLng(15.850404, -90.362389),
                    showParagraph: false,
                    mapOptions: {
                        zoomSnap: 0.5
                    },

                    showMap: false,
                    searchExtended: false,
                    viewMode: 'list',
                    currentViewModeClass: "results_list", //results_list / results_grid / results_map  

                    markers: [],

                    main_class: "search_block_off"
                }
            },

            filters: {
                pretty: function (value) {
                    return JSON.stringify(JSON.parse(value), null, 2);
                },
                defaultCover(fileName) {
                    if (fileName == null || fileName == "") {
                        return `${imagesEndPoint}/uploads/coverPhoto.png`;
                    } else {
                        return `${imagesEndPoint}/uploads/${fileName}`;
                    }
                },
                moment: function (date, format) {
                    return moment(date).format(format);
                }
            },

            methods: {

                setView(mode) {

                    this.viewMode = mode;

                    //results_list / results_grid / results_map  

                    switch (mode) {
                        case "list":
                            this.currentViewModeClass = "results_list";
                            break;
                        case "grid":
                            this.currentViewModeClass = "results_grid";
                            break;
                        case "map":
                            //this.showMap = true;
                            this.currentViewModeClass = "results_map";
                            break;

                    }


                },

                flyTo(marker) {

                    this.$nextTick(() => {

                        let loc = {
                            lat: marker.latitude,
                            lon: marker.longitude
                        };

                        console.log("flying to...", loc);

                        console.log(this.$refs.myMap.mapObject);


                        this.$refs.myMap.mapObject.flyTo(loc, 13);

                    })
                },

                alert(marker) {
                    alert(marker.id + '-' + marker.name);
                },

                showSearchExtended() {
                    this.searchExtended = true;
                },

                clearSearchExtended() {

                    this.filterOptions = {
                        "name": "",
                        "altitude": 0,
                        "city": 0,
                        "town": 0,
                        "processes": [],
                        "minAltitude": 0,
                        "maxAltitude": 0,
                        "certifications": [],
                        "regions": [],
                        "awards": [],
                        "varieties": [],
                        "pageSize": 10,
                        "sort": "n|asc",
                        "page": 1,
                        "approved": true
                    };

                    this.searchExtended = false;
                },

                toggleFilters() {
                    this.showFiltersFlag = !this.showFiltersFlag;
                },

                showFilterModal() {

                    this.filterOptions = {
                        "name": "",
                        "altitude": 0,
                        "city": 0,
                        "town": 0,
                        "processes": [],
                        "minAltitude": 0,
                        "maxAltitude": 0,
                        "certifications": [],
                        "regions": [],
                        "awards": [],
                        "varieties": [],
                        "pageSize": 10,
                        "sort": "n|asc",
                        "page": 1,
                        "approved": true
                    };

                    this.dataList = null;

                    this.searchExtended = false;
                    this.main_class = "search_block_off";
                    this.$refs.productiveUnitFilter.show();

                },

                showDetails(item) {
                    //getone/
                    this.loading = true;
                    axios
                        .get(`${endPoint}/api/productiveunits/${item.id}/flat`)
                        .then(response => {
                            this.item = response.data;
                            this.loading = false;
                        })
                        .catch(error => {
                            this.loading = false;
                        });


                    this.$refs.productiveUnitDetails.show();
                },


                getAllProductiveUnits() {
                    this.loading = true;
                    axios
                        .get(`${endPoint}/api/productiveunits/getall`)
                        .then(response => {
                            this.dataList = response.data;
                            this.loading = false;
                        })
                        .catch(error => {
                            this.loading = false;
                        });
                },

                getFilteredProductiveUnits() {
                    this.loading = true;
                    axios
                        .post(`${endPoint}/api/productiveunits/filter`, this.filterOptions)
                        .then(response => {
                            this.dataList = response.data.data;
                            this.total = response.data.total;
                            this.currentPage = response.data.currentPage;
                            this.numberOfPages = response.data.lastPage;
                            this.loading = false;
                            this.$refs.productiveUnitFilter.hide();
                            this.main_class = "search_block";
                        })
                        .catch(error => {
                            this.loading = false;
                        });
                },

                searchProductiveUnits() {
                    this.loading = true;
                    axios
                        .get(
                            `${endPoint}/api/productiveunits/search?q=${this.filterOptions.name}`
                        )
                        .then(response => {
                            this.dataList = response.data;
                            this.loading = false;
                            this.$refs.productiveUnitFilter.hide();
                        })
                        .catch(error => {
                            this.loading = false;
                        });
                },


                getProductiveUnitsOptions() {
                    this.loading = true;
                    axios
                        .get(`${endPoint}/api/productiveunits/options`)
                        .then(response => {
                            this.options = response.data;
                            this.loading = false;
                        })
                        .catch(error => {
                            this.loading = false;
                        });
                },

                addProperty(propertyName) {
                    console.log(this.optionsSelected[propertyName]);
                },

                zoomUpdate(zoom) {
                    this.currentZoom = zoom;
                },
                centerUpdate(center) {
                    this.currentCenter = center;
                }
            },

            mounted() {
                this.getProductiveUnitsOptions();
            }

        })
    </script>

</body>


</html>