/* *** GENERALES *** */
body {
    font-family: 'Oxygen', sans-serif;
	font-size: 1rem;
	margin: 0;
    padding: 0;
	color: #555;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    opacity: 0.7;
}
ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    list-style: none;
}

 ::-webkit-input-placeholder {
    font-size: 13px!important;
    line-height: 1.5rem;
 }
 
 :-moz-placeholder { /* Firefox 18- */
       font-size: 13px!important;
       line-height: 1.5rem;
 }
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 13px!important;
       line-height: 1.5rem;
 }

/* RANGE SLIDER */
/* .range-slider {
    margin: 60px 0 0 0%;
}
.range-slider {
    width: 100%;
}
   */
.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin-top: 10px!important;
}
.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -moz-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
}
.range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
    max-width: fit-content;
    box-sizing: content-box;
}
.range-slider__value:before {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: '';
}
.range-slider__value:after {
    content: attr(unit);
    padding: 0 2px;
    display: inline;
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}


/* *** LAYOUT *** */
.header {
    position: relative;
    background: #ed1556;
    height: 160px;
    width: 100%;
}
.headerbar, .bottombar {
	position: relative;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}
.headerbar {
	height: 160px;
}
.content {
    position: relative;
    display: block;
    min-height: 200px;
}
/* BLOQUES BUSQUEDA UP */
.search_block {
    padding: 20px;
}
.search_basic {
    display: block;
    /* display: none; */
}
.search_extended {
    display: none;
    /* display: block; */
}
.summary_results { padding: 0; }
.summary_results > div, .action_bar > div {
    display: inline-grid;
    vertical-align: top;
    margin: 0 8px;
    text-align: left;
    padding: 8px 0;
}
.action_bar { padding: 0; }
.action_bar > div {
    vertical-align: middle;
}
.num_results {
    display: inline-block;
    flex: 0 0 100px;
    font-size: 1.5em;
    font-weight: 600;
    padding: 4px 14px;
    border: 1px solid #707070;
    border-radius: 10px;
    color: #707070;
}

.num_points {
    display: inline-block;
    /* flex: 0 0 100px; */
    font-size: 1.1em;
    padding: 0 8px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    background-color: #acacac;
}
.num_points:after, .lotlbl:after {
    content: attr(lbl);
    position: relative;
    margin: 0 auto;
    bottom: 4px;
    display: block;
    font-size: 0.7em;
    line-height: 1em;
}
.tx_blue {
    color: #007bff;
}
.tight {
    padding: 0 12px;
}
.title_results {
    font-size: 1em;
    color: #707070;
}
.view_modes {
    font-weight: 300;
    color: #707070;
    margin: 0;
}
.view_modes * { vertical-align: top; }
.view_modes span {
    display: none;
    font-size: 0.9em;
}
.view_modes i {
    font-size: 1.3em;
    margin-left: 6px;
    margin-right: 14px;
    color: #007bff;
}
.farm_facts {
    color: #707070;
}
.num_dot {
    position: absolute;
    min-width: 22px;
    height: 22px;

    line-height: 20px;
    font-size: 0.9em;
    text-align: center;

    border-radius: 15px;
    border: 1px solid #ccc;
    background: #007bff;
    color: #fff;
    
    right: 4px;
    top: 4px;
    padding: 0 6px;
}
.actions i {
    font-size: 1em;
    width: 20px;
    /* margin-left: 6px; */
    margin-right: 8px;
    color: #707070;
}
.farm_facts i {
    font-size: 1.5em;
    margin-right: 12px;
    width: 1.5em;
    text-align: center;
}
.actions ul {
    margin: 0 auto 10px;
    padding-bottom: 12px;
}
.actions li {
    display: inline-block;
    margin: 0 8px 0;
}
.farm_facts ul {
    margin: auto 0;
}
.back, .right_col { 
    top: -20px;
    padding: 12px; 
}
.f_right {
    float: right;
}
.back * {
    display: inline;
    vertical-align: middle;
}

.back i {
    font-size: 2em;
    margin: 0 6px;
    color: #007bff;
}
.p_header { 
    margin: 20px 0; 
}
.p_origin {
    display: block;
    padding: 30px;
    /* border: 2px solid #acacac; */
    border-radius: 8px;
    background-color: #eff4f6;
}
.p_header .nom { 
    padding: 0;
    /* padding-left: 12px; */
}
.p_header .certifications img {
    display: inline;
    width: 70px;
    height: 70px;
}
.tag_area {
    margin: 10px 0;
    width: 100%;
}
.p_header .tag {
    display: inline-block;
    text-align: center;
    font-size: 0.7em;
    color: #555;
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 10px;
}
.bg1 { background-color: #DCEFE3; }
.bg2 { background-color: #EFECDC; }
.bg3 { background-color: #EFDDDC; }
.bg4 {}
.bg5 {}
.bg6 {}
.results_header, .results {
    padding: 12px;
}
.results {
    display: flex;
    flex-direction: column-reverse;
}
.results_list {
    display: inline-block;
    width: 100%;
}
.results_list .num_dot, .results_grid .num_dot {
    display: none;
}
.results_grid, .profile {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
}
.results_map {
    width: 100%;
}
.results_list .entry, .results_map .entry, .results_grid .entry { 
    border: 1px solid #707070;
    position: relative;
    padding: 12px;
    margin: 10px;
}

.results_list .entry, .results_map .entry { 
    display: flex;
    flex: 1;
    flex-direction: column;
}

.results_grid .entry {
    width: 100%;
    box-sizing: border-box;
}
.results_list .img, .results_map .img {
    width: 85px;
    height: 85px;
    overflow: hidden;
    background: #1abc9c;
}
.results_list img, .results_map img {
    display: block;
    max-width: 85px;
    max-height: 85px;
    width: auto;
    height: auto;
}
.number-icon {
    background-image: url(/images/marker-icon.png);
    text-align: center;
    color: #fff;
    font-size: 1.4em;
    line-height: 1.7em;
    font-weight: 700;
}
.results_grid .img {
    display: block;
    width: 100%;
    height: 200px;
    overflow: hidden;
    background: #1abc9c;
}
.results_grid img {
    display: block;
    max-width: 100%;
    max-height: 200px;
    width: auto;
    height: auto;
}
.results_list .nom, .results_list .lot_nom, .results_list .lot_description, .results_list .lot_size, .results_map .nom {
    margin: 0 12px;
    display: flex;
    flex: 1;
}
.results_list .lot_description, .results_list .lot_size {
    flex-direction: column;
}
.results_list .lot_nom {
    flex: 1.5;
}
.results_list .lot_description {
    color: #4288d4;
    padding: 12px 0;
    flex: 3;
}
.results_list .lot_score {
    /* flex: 1; */
    align-items: center;
    justify-content: center;
    position: absolute;
    
    top: 8px;
    right: 8px;
}
.results_list .lot_actions {
    /* width: 24px; */
}
.results_grid .nom {
    padding: 12px;
    margin-bottom: 8px;
}
.results_list .actions, .results_map .actions { 
    width: 100%;
    /* min-width: 150px; */
    /* padding-top: 16px; */
}
.results_grid .actions ul { display: none; }
/* .actions .go { */
.go {
    padding: 4px 0;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
.farm_facts li {
    line-height: 2em;
}
/* .actions .go span { */
.go span {
    margin-right: 4px;
    font-size: 0.9em;
}
/* .actions .go i { */
.go i {
    color:#007bff;
}
/* .actions .go i:hover { */
.go i:hover {
    opacity: 0.7;
}
.map_results {
    background: #ccc;
    height: 400px;
    flex: 1;
}
.results_list + .map_results, .results_grid + .map_results {
    display: none;
}
.results_map + .map_results {
    display: flex;
}
.results_list .flyto, .results_grid .flyto {
    display: none;
}
.content_block { display: block; }
.search_block .results_block { display: block; }
.search_block_off .results_block {display: none;}

.search_block + .content_block {
    display: none;
}

.search_block_off + .content_block {
    display: block;
}
.main_image {
    width: 100%;
    height: auto;
    min-height: 400px;
    max-height: 400px;
    overflow: hidden;
    /* text-align: center; */
    padding: 0;
    background-color: #efefef;
}
.main_image img {
    position: relative;
    object-fit: contain;
    max-height: 400px;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
.summary_text {
    padding: 30px 0;
    width: 100%;
}
.article_spaced {
	padding-top: 60px;
} 
.footer {
    position: relative;
    background: #ed1556;
    min-height: 40px;
    padding: 10px;
}
.bottom {
    background: #ddd;
    min-height: 40px;
    padding: 20px;
}

.bottom .menu {
    color: #777;
    margin-top: 20px;
}
.bottom .menu li {
    padding: 8px 0;
    cursor: pointer;
}
.bottom .menu li:hover {
    font-weight: 700;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.btn_float {
    /* position: -webkit-sticky;  // required for Safari */
    position: fixed;
    /* float: right; */
    right: 20px;
    top: 180px;
    z-index: 9999;
}
.btn_float span { display: none; padding: 0 4px; margin-right: 4px;}
.btn_float:hover span { display: inline; }
.read_more {
	margin: 10px;
}
.read_more .btn {
	position: relative;
	background: #ed1556;
	border-radius: 18px;
	padding: 4px 18px;
	margin: 10px;
	color: #fff;
}

/* *** MODAL *** */

.modal-header { /* elimina borde de modal de bootstrap */
    padding: 1rem 1rem 0;
    border-bottom: none;
}
.modal_unit {
    width: auto;
    max-width: 1280px;
    margin: 10px auto;
}
.modalw, .modal_search {
    display: none;
    position: absolute;
    min-height: 100px;
    max-height: 100vh;
    width: 100%;
    top: 50%;
    left: 50%;
    background: #fff;
    color: #555;
/*    padding: 30px;*/
    transform: translate(-50%, -50%);
    overflow: auto;
    z-index: 999;
}
.modalw p, .modal_search p {
    font-size: 0.9em;
}

.modalw .btn, .modal_search .btn, .action_btn {
/*    border: 1px solid #fff;*/
    position: relative;
    background: #ed1556;
    border-radius: 24px;
    padding: 10px 24px;
    margin: 20px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
}
.action_btn {
    font-size: 1.1em;
    margin: 20px 0 0;
}

.modal_search .btn {
    margin: 0;
}
.modalw .btn:hover, .read_more .btn:hover, .action_btn:hover {
    background: #555;
}
.modal_search label {
    line-height: 2.2rem;
}
.modalw label {
    padding-left: 10px;
}
.modalw input {
    margin: 10px;
}
.modal_search input {
    margin: 0;
}
.btn.txt {
	border: none;
	background: none;
	color: #888;
	padding: 4px 0;
	margin: 0;
}
.btn.txt:hover {
	background: none;
	color: #0056b3;
}
.x {
    display: block;
    position: absolute;
    background: url('/media/1032/x.png') no-repeat;
    background-size: 60px 20px;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    z-index: 999;
}
.x:hover {
    background-position: right;
}
.cerrar {
	
}
.back_shade {
    position: fixed;
    background: rgba(30,30,30,0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
.spinner {
  width: 40px;
  height: 40px;
  background-color: #ed1556;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
.centerboth {
	position: absolute;
    width: 100%;
	max-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/* *** HEADER *** */
.logo {
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 140px;
	left: 20px;
}
.logoGC {
    position: absolute;
    display: inline-block;
    width: 180px;
    height: 90px;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    background: url('../images/logoGC.png') no-repeat;
    background-size: 180px 90px;
}
.mainmenu {
    display: block;
    font-size: 1em;
    position: absolute;
    width: 100%;
    top: 155px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: #fff;
    border-bottom: 5px solid #ed1556;
    text-align: center;
    z-index: 999;
	padding: 0;
    /*    margin: 0 auto;*/
}
.mainmenu ul {
	margin: 0 auto;
}
.nav-link--home .logo-image {
	width: 100%;
	height: auto;
	cursor: pointer;
}
.mainmenu .nav-link {
    display: block;
	vertical-align: middle;
    opacity: 0.7;
    padding: 10px;
	color: #333;
    cursor: pointer;
	font-size: 1.2em;
	text-transform: none;
	letter-spacing: normal;
    font-family: 'Oxygen', sans-serif;
}
.mainmenu .nav-link:hover, .mainmenu .nav-link--active {
    opacity: 1;
}
.mainmenu .nav-link--active {
    font-size: 1.5em;
}
.nav-link, .nav-link:visited {
	font-size: inherit;
	font-weight: 400;
}
.mainmenu .nav-item {
	display: block;
	width: 100%;
	vertical-align: middle;
	line-height: 40px;
}
.menu_icon {
	display: block;
	position: absolute;
	right: 8px;
	bottom: 8px;
}
.submenu {}
.submenu .nav-item { 
    font-size: 0.8em;
    line-height: 12px;
}
.carousel-item img {
	/* max-height: 768px;
	min-width: auto; */
	margin: 0 auto;
}
.full_banner {
    display: block;
    width: 100%;
    height: auto;
	margin: 0 auto;
}
.full_banner img {
    width: 100%;
/*    min-height: 400px;*/
}
.hello {
    position: absolute;
    display: block;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}
.hello .btn {
    border: 2px solid #fff;
    border-radius: 24px;
    padding: 10px 24px;
    margin: 20px;
    color: #fff;
}
.hello .btn:hover {
    background: #fff;
    color: #ed1556;
}
.redes {
    display: none;
    vertical-align: middle;
}
.follow_us {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
}
.fb, .tw, .ig {
    display: inline-block;
    background: url('/media/1035/redes_icn.png') no-repeat;
    background-size: 90px 60px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
}
.contact_info {
    color: #777;
    margin-top: 40px;
}
.contact_info p {
	line-height: 1.5em!important;
	margin: 0;
	margin-bottom: 0!important;
}
.contact_info .fb, .contact_info .tw, .contact_info .ig {
    background: url('/media/1036/redes_icn_sm.png') no-repeat;
    background-size: 75px 50px;
    width: 25px;
    height: 25px;
} 
.fb, .contact_info .fb {
    background-position: left top;
}
.fb:hover {
    background-position: left bottom;
}
.tw, .contact_info .tw {
    background-position: center top;
}
.tw:hover {
    background-position: center bottom;
}
.ig, .contact_info .ig {
    background-position: right top;
}
.ig:hover {
    background-position: right bottom;
}
.bid_logos img {
	display: block;
	width: 160px;
	height: auto;
	margin: 30px auto;
	cursor: pointer;
}
.c3 {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
    vertical-align: top;
}
.fxd {
    position: fixed;
}
.nopadding {
    padding: 0;
}
.crop {
	overflow: hidden;
}
.ttl_mod {
	margin: 20px 0;
}
.r_align {
	text-align: right;
}
.c_align {
	text-align: center;
}
.paddingnormal {
    padding: 30px;
}
.breadcrumbs {
	color: #aaa;
	text-align: right;
	/* margin-bottom: 30px; */
	top: 20px;
	position: absolute;
	right: 0;
}
.breadcrumbs li {
	display: inline;
	padding: 0 4px;
}
.breadcrumbs li:after {
	content: "  /";
	display: inline;
}
.link_list {
	margin: 20px 0;
	text-align: center;
}
.link_list li {
	display: block;
	font-size: 1.1em;
	line-height: 2.2em;
	color: #005999;
	padding-left: 0;
}

.link_list li:hover {
	color: #005999;
	font-size: 1.2em;
}

.link_list li:hover a, .breadcrumbs a:hover {
	text-decoration: none;
	opacity: 0.7;
	font-weight: 600;
}

.cup_desc {
	font-size: 1.2em;
	text-align: center;
	padding: 20px 0;
}
.region_pfl{
	margin: 30px 0;
}
.region_data {	
	font-size: 1.2em;
	color: #888;
}
.region_data li {
	line-height: 2.2em;
}
.region_data i {
	font-size: 1.5em;
	text-align: center;
	padding: 0 10px;
	width: 3em;
}
.footer .menu, .copy {
    display: block;
    position: relative;
    font-size: .7em;
    color: #fff;
    padding: 10px 20px;
}
.footer .menu {
    text-align: center;
}
.footer .menu ul {

}
.footer .menu li {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
}
.footer .menu li:hover {
    font-weight: 700;
}
.copy {
    text-align: center;
}

.fullimage {
	max-width: 100%;
}
.padgrid {
	margin: 0 auto;
	max-width: 320px;
}
.padgrid > div {
	padding: 60px 0 0; 
}
.padgrid > div:last-child {
	padding-bottom: 60px;
}
.img_left {
    overflow: hidden;
}
.img_left img {
    height: 100%;
    left: 0;
}
.img-md-center {
    display: block;
    margin: 20px auto;
    width: 250px;
    height: auto;
}
/* *** TIMELINE *** */
.tl-timeline {
	font-family: 'Oxygen', sans-serif;
	height: auto;
	max-height: 720px;
}
.tl-slide-content {
	width: 100%!important;
}
.tl-slidenav-next {
	margin-right: 20px;
}
.tl-slidenav-previous {
	margin-right: 20px;
}
.tl-timeline h1, .tl-timeline h2, .tl-timeline h3, .tl-timeline h4, .tl-timeline h5, .tl-timeline h6 {
	color: #555;
}
.tl-slide-content-container {
	/* width: 100%; */
}

/* *** CUP PROFILE *** */
.cup_pfl {
	display: inline-block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

.call_search_up, .call_search_coffee {
	display: inline-block;
	padding: 10px 24px;
	/* margin: 20px; */
	border-radius: 24px;
    /* background: rgba(255,255,255,0.7); */
    background: #ED1556;
    border: 2px solid rgba(255,255,255,0.3);

}
a.call_search_up, .call_search_coffee {
    color: #fff!important;
}
a.call_search_up:hover, a.call_search_coffee:hover {
    opacity: 1;
}
blockquote {
	padding: 10px 24px;
	margin: 20px;
	border-radius: 24px;
	border: 2px solid rgba(255,255,255,0.3);
	display: inline-block;
	background: rgba(255,255,255,0.7);
}
@media only screen and (min-width: 576px) {
    .redes{
        display: inline-block;
    }
    .hello {
        margin: 0 20px;
    }
	.logo {
		width: 200px;
		left: 30px;
	}
	.padgrid {
		max-width: 960px;
    }
    .results_list .entry, .results_map .entry { flex-direction: row;}
    .results_list .actions, .results_map .actions { 
        width: 15%;
        min-width: 150px;
        padding-top: 16px;
    }
    .actions li {
        display: block;
        width: 100%;
        margin: 0;
    }
    .results_list .lot_description {
        padding: 0;
        color: #555;
    }
    .results_list .lot_score {
    
        position: relative;
        /* display: flex; */
        top: initial;
        right: initial;
    }
}
@media only screen and (min-width: 768px) {
	.ttl_mod {
		text-align: left!important;
	}
	.link_list {
		text-align: left;
	}
	.link_list li {
		font-size: 0.94em;
		line-height: 2em;
		color: #005999;
	}
	.link_list li:hover {
		font-size: 0.96em;
    }
    .view_modes { margin: auto 0; }
    .view_modes * { vertical-align: middle;}
    .results { flex-direction: unset; }
    .results_map { width: 50%; }
    .map_results { height: auto; }
    .results_grid .entry { width: 30%; }
    .results_grid .img { height: 150px; }
    .modal_unit { width: 96%; }
    /* .main_image, .main_image img {
        max-height: 500px;
    } */

}
/* AJUSTE PANTALLAS HORIZONTALES Y DISPOSITIVOS DE MAS DE 1280px de ancho */
@media only screen and (min-width: 992px) {
    .mainmenu {
		position: relative;
		display: inline-flex;
		width: auto;
		top: 50%;
		transform: translate(-50%, -50%);
        bottom: 10px;
        color: #fff;
        background: none;
        border-bottom: none;
    }
	.mainmenu .nav-item {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}
    .mainmenu .nav-link {
        display: inline-block;
        padding: 0 10px;
		color: #fff;
    }
	.submenu {
		position: absolute;
		left: -50%;
		width: 100vw;
    }
    .submenu .nav-item { 
		line-height: inherit;
	}
    .modalw, .modal_search {
        border-radius: 20px;
        width: 80%;
        max-width: 720px;
    }
    .menu_icon {
        display: none;
    }
	.link_list li {
		font-size: 1.1em;
		padding-left: 20px;
	}
	.link_list li:hover {
		font-size: 1.2em;
	}
    .contact_info {
        margin-top: 0;
    }
    .bottom {
        padding: 40px;
    }
	.bottom .menu {
		padding-left: 36px;
	}
    .c3 {
        text-align: left;
        display: inline-block;
        width: 33%;
    }
	.bid_logos img {
		margin: 30px 0 0;
	}
    .footer .menu, .copy {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .footer .menu {
        text-align: left;
        left: 0;
    }
    .footer .menu ul {

    }
    .footer .menu li {
        display: inline-block;
/*        padding: 0 10px;*/
    }
    .copy {
        right: 0;
    }
	.tl-timeline {
		height: 500px!important;
	}
	.carousel-item img {
	  /* max-height: 400px; */
    }
    .view_modes span { display: inline;}
    .results_grid .entry { width: 22%; }
}